@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h2 class="display-3">
		<strong> Entity Framework Core </strong>
	</h2>

	<br /> <br />

	<h3 class="display-4">The Complete Guide (.NET 5)</h3>

	<br /> <br />

	<h5 class="text-right"> by, Bhrugen Patel </h5>

	<br />
	<hr />
	<br />

	<p class="text-left">
		Learn about
		<a href="https://www.udemy.com/course/entity-framework-core-the-complete-guide-net-5/">
			ASP.NET EF Core
		</a>.
	</p>
</div>
